[submodule ".config/kitty/kitty-themes"]
	path = .config/kitty/kitty-themes
	url = git@github.com:dexpota/kitty-themes.git
[submodule ".config/awesome/lib/rubato"]
	path = .config/awesome/lib/rubato
	url = git@github.com:andOrlando/rubato.git
